body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
    }
     h1 {
        text-align: center;
        color: #333;
    }
     #box {
        display: flex;
        justify-content: space-around;
        background-color: #f4f3f5;
        padding: 20px;
        border-radius: 10px #a09bc0;;
        min-width: 400px;
        max-width: 600px;
        margin: 20px auto;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    }
    .secao {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

   .linha {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    input[type="text"] {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #999;
        width: 150px;
    }

    button {
        border: 2px solid rgb(163, 126, 177);
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: rgb(163, 126, 177);
    }
